.backdrop{
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
z-index: 100;
background-color:rgba(0, 0, 0, 0.616) ;
}
.alert-box{
  position:fixed;
  top: 30vh;
  left: 30vw;
  width: 60vw;
  padding: 18px;
z-index: 100;
background-color:white ;
box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
.alert-box-actions{
  text-align: right;
}
